*{
  margin: 0;
  color: white;
}

body{
  background: black;
}

.small-social-media{
  line-height: 45px;
}
.small-social-media:hover{
   color:  #249ED2;
}

h1{
  color: white;
  width: 100%;
  text-align: center;
  font-family: Shadows Into Light;
}

p{
  font-family: Nunito;
}

.nav{
  border-bottom: 1px solid white;
  height: 55px;
}

.nav-link{
  display: block;
  padding-top: 7px;
}

.logo{
   font-family: Shadows Into Light;
   margin-right: 45%;
   font-size: 28px;
   padding-top: 7px;
}

.first-container{
  height: 85vh;
  background: transparent;
  width: 100%;
  display: flex;
  align-items: center;
  font-size: 16px;
}

.first-line{
  width: 71%;
  height: 1px;
  background: #249ED2;
  border-radius: 5px;

}


.second-container{
  
  padding-right: 5%;
   
}

.circle{
  width: 300px;
  height: 300px;
  border: 1px solid;
  border-color: #ffffff; 
  border-radius: 100%;

  animation: circle 30s linear infinite;
}

@keyframes circle {
  to {
    transform: rotate(360deg);
  }
}

.ln{
  position: absolute;
  width: 1px;
  height: 50%;
  
  background: #249ED2; 
  margin-left: 50%;
}

.lf{
  position: absolute;
  width: 1px;
  height: 50%;
  
  background: #249ED2; 
  margin-left: 55%;
}

.title-my-projects{
  color: #249ED2;
  margin: 0px;
}

.card{
  width: 50px;
  height: 100%;
  background: transparent;
  color: #249ED2;
}

.card-img-top{
  width: 80%;
   border-radius: 5px;
   height: 25rem;
}

.card-body{
  padding-left: 0px;
  width: 80%;
}

.button-see{
  background: transparent;
  border: 1px solid #249ED2;
  color: white;
  width: 100%;
  border-radius: 50px;
}

.button-see:hover{
  background: #249ED2;
  border: 1px solid #249ED2;
  color: black;
  border-radius: 5px;
}

.more-about-me{
  color: #249ED2;
}

.more-about-me-container{
  background:  #249ED2;
  color: white;
  width: 100%;
  border-radius: 5px;
  padding-top: 2rem;
  padding-left: 2rem;
  padding-right: 2rem;
  margin-left: 0;
  margin-right: 0;
  /*
  display: flex;
  flex-direction: row;
  align-items: center;
  */
}

.my-img{
  border-radius: 100px;
  width: 150px;
  margin-left: 10%;
  margin-top: 9%;
  box-shadow: 1px 1px 4px black;
}

.courses-title{
  color: white;
}

.container-courses{
  background:  transparent;
  color: white;
  width: 100%;
  border-radius: 5px;
  padding-top: 3rem;
  padding-left: 14rem;
  padding-bottom: 1rem;
}

footer{
  background:  #249ED2;
  color: white;
  width: 100%;
  border-radius: 5px;
  padding-top: 1rem;
  padding-bottom: 1rem;
  text-align: center;
}

.big-social-media{
  margin-left: 2rem;
  margin-right: 2rem;
  font-size: 3rem;
}

.big-social-media:hover{
  color: black;
}
